*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
header{
    background-color: aliceblue;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1.875rem;
    font-weight: 300;
}
.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.box{
    border: 1px solid darkcyan;
    width: 8rem;
    height: 8rem;
    /* text-align: center; */
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer{
    display: grid;
    grid-template-columns: 5fr 1.5fr;
    gap: 2rem;
}
input{
    font-size: 1.2rem;
}
button{
    padding: 1rem;
    cursor: pointer;
}